* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
    outline: 0;
}
.highzindex{
  position: relative;
  z-index: 10;
}
body {
  font-family: sans-serif;
  background-image: url('/images/cleard.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;   /*to make content stay in one page only and we dont need to have a scroll bar*/
  -webkit-transition: background-image 1.5s;
}
.app-wrap {
  flex-direction: row;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.8));  */
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}
.card{
  margin: auto;
  margin-top: 4%;
  padding-bottom: 3%;
  max-height: 70%;
  border-radius: 20px 20px;
  width: 80%;
  background: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 1));
  overflow: overlay;
}
.search-container {
  width: 75%;
  max-width: 500px;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  padding-top: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 20, 0.4);
  border: none;
  border-radius: 20px;
  color: grey;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  overflow: hidden;
  outline: 0;
  border: 1px solid rgba(255,255,255,0.6);
}
.search-container input{
  width: 100%;
  padding: 5px 5px;
  padding-left: 20px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 20, 0.2);
  border-radius: 20px 0 0 20px;
  color: black;
  font-size: 20px
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  transition: 0.2s ease-out;
  border-right: 1px solid rgba(255,255,255,0.3);
}
.search-container input:focus{
  background-color: rgba(255, 255, 255, 0.5);
  color: #313131;
}
.search-container input:placeholder{
  color: black;
}
.search-container .btn{
  position: relative;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  outline:0;
  border: none;
}
.location{
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: 30px;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.location .date {
  color: #FFF;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}

.current .temp {
  color: #FFF;
  font-size: 90px;
  font-family: 'Manrope', sans-serif;
  margin: 30px 0px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 0;
}

.current .temp span {
  font-weight: 100;
}

.current .weather {
  color: white;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hilow {
  color: #FFF;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}
.current .wind{color: #FFF;
font-size: 17px;
font-family: 'Manrope', sans-serif;
font-weight: 400;
}
.current .humidity{
  color: #FFF;
  font-size: 17px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
.current .humidity i{
  padding-left: 5px;
}
footer{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 3%;
  padding: 3% 0 1%;
  color: white;
  font-size: 15px;
}
footer hr{
  width:20%;
  margin-left: auto;
  margin-right: auto;
  color:white;
  border-style: solid;
  border-color: white;
}
footer p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.cleard{
  background-image: url('/images/cleard.jpg');
}
.cleard-card{
  /* background: #9CECFB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(0, 82, 212, 0.7), rgba(101, 199, 247, 0.7), rgba(156, 236, 251, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(0, 82, 212, 0.7), rgba(101, 199, 247, 0.7), rgba(156, 236, 251, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  */
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(253, 239, 249, 0.5),rgba(236, 56, 188, 0.5) ,rgba(115, 3, 192, 0.7), rgba(3, 0, 30, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(253, 239, 249, .5), rgba(236, 56, 188, .5) ,rgba(115, 3, 192,.7), rgba(3, 0, 30, .7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.4s ease-out;
  background-blend-mode: lighten;
}
.clearn{
  background-image: url('/images/clearn.jpg');
}
.clearn-card{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 78, 146, 0.6),rgba(0, 4, 40, 0.6) );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,rgba(0, 78, 146, .6), rgba(0, 4, 40, .6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-out;
  background-blend-mode:lighten;
}
.cloud{
  background-image: url('/images/cloud.jpg');
}
.cloud-card{
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,rgba(137, 33, 107, 0.6),rgba(218, 68, 83, .6)) ;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(137, 33, 107, .6),rgba(218, 68, 83, .6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-out;
  background-blend-mode: lighten;
}
.rain{
  background-image: url('/images/rain.jpg');
}
.rain-card{
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,rgba(146, 141, 171, .6) ,rgba(31, 28, 44, .6) );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(146, 141, 171, .6) , rgba(31, 28, 44, .6) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-out;
  background-blend-mode: lighten;
}
.snow{
  background-image: url('/images/snow.jpg');
}
.snow-card{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, .8), rgba(109, 213, 250, .6),rgba(41, 128, 185, .6) );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(255, 255, 255, .8),rgba(109, 213, 250, .6), rgba(41, 128, 185, .6) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-out;
  background-blend-mode: lighten;
}
.sand{
  background-image: url('/images/sand.jpg');
}
.sand-card{
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,rgba(240, 203, 53, .6) , rgba(192, 36, 37, .6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(240, 203, 53, .6), rgba(192, 36, 37, .6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-out;
  background-blend-mode: lighten;
}
.card{
  @media only screen and (max-width: 768px) {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  }
.location .city {
  font-size : 27px;
}
.current .temp{
  font-size : 75px;
}
.current .weather{
  font-size: 35px;
}
footer{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}
footer p{
  font-size:10px;
}
.app-wrap{
  padding-top: 0.2%;
  padding-bottom: 2px;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}
}

@media only screen and (max-width: 1024px) and (min-width:768px){
.app-wrap{
  padding-bottom:2px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5%;
}
footer{
  margin-top: 7%;
}
footer p {
  font-size: 15px;
}
}
